.header nav .fa-bars {
    display: inline;


}

.hero .content,
.hero img {
    width: 90%;
    padding: 0;
}


.header nav a {
    display: none;
}

.hero {
    flex-direction: column;
}

.center h1 {
    font-size: xx-large;
}

.about .first img {
    width: 80%;
    min-height: 100px;
}

.about .first .content {
    width: 80%;
}


.about .second .content {
    width: 80%;
}
.about .second img {
    width: 60%;
    max-height: 600px;
}

.about .second {
    margin: 10px;
}

.about .second .content h1 {
    font-size: xx-large;
}

.third {
    font-size: xx-large;
    text-shadow: none;
    padding: 0;
}

.third h1 {
    text-shadow: none;
    font-size: xx-large;
}

.third p {

    font-size: large;
   
    font-weight: bold;

}

.third .flex {
    padding: 0;
    gap: 1.5em;
}

.third .flex .child {

    font-size: large;

}

.third .flex .child i {
    font-size: xx-large;
}


.back-to-top {

    height: 30px;
    width: 30px;
    font-size: 1em;

}
.contact{
    flex-direction: column;
 
}
.contact .form, .contact .contact-us{
    width: 70%;
    margin: 0 auto;
    
}
.footer{
    flex-direction: column;
    align-items: center;
    
}
.footer h3{
    padding: 2em 0;
}
/* .gallery .imges img{
    flex-direction: column;
} */
.gallery .imges img{
    max-width:200px;
    max-height:200px ;
}