:root {
    --base: #f01260;
    --text: #F2F2F2;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

.main {
    min-height: 600px;
    min-width: 200px;
    background: #050505;
    background: linear-gradient(135deg, #2B2B2B 0%, #68be67 50%, #5ec64e 100%);
}

/* fixed width */
.fixed {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* header start */
.header {
    display: flex;
    height: 100px;
    font-family: "Poppins", sans-serif;

    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
z-index: 1;
  background: linear-gradient(135deg, #2B2B2B 0%, #3A2F2A 50%, #4EC6B6 100%);
}

.header p {
    color: white;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
}

.header p span {
    color: var(--base);

}

.header nav {
    margin-left: auto;
}

.header nav a {
    margin: 50px;
    text-decoration: none;
    font-size: 20px;
    color: white;

    transition: all 0.3s ease-in-out;
}

.header nav a:hover {
    color: var(--base);
    border-bottom: 3px solid black;
}

.header nav .fa-bars {
    display: none;
    margin: 70px;
    text-decoration: none;
    font-size: 30px;
    color: white;

    transition: all 0.3s ease-in-out;
}

/* header end */

/* hero section start */
.hero{
    padding-top: 120px;
}
/* common styling */
.hero,
.about .first {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/* common styling */
.hero .content,
.hero img {
    width: 48%;
}

.hero .content {
    margin: 10px;
    font-family: "Poppins", sans-serif;
    padding: 25px;
}

.hero .content h1 {
    color: var(--text);
    font-size: 50px;
}

.hero .content #h1-2 {
    color: var(--base);

}

.hero .content p {
    padding-top: 28px;
    font-size: 18px;
    line-height: 30px;
    color: var(--text);

}

button {
   width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid var(--base);
    transition: all 0.3s ease-in-out;
}

.btn1 {
    background-color: transparent;
    color: var(--base);
}

.btn1:hover {
    background-color: var(--base);
    color: black;
}

.btn2 {
    background-color: var(--base);
}

.btn2:hover {
    box-shadow: 2px 2px 10px var(--base);
}

.hero img {
    filter: drop-shadow(5px 11px 29px #4b4848);
    animation: bounce 5s infinite;
}

/* keyframe */
@keyframes bounce {
    0%,
    100% {
        transform: translatey(-10%);

    }
    50% {
        transform: translatey(10%);

    }
}

/* keyframe */
/* hero section end */
/* about start */
.center {
    text-align: center;
    margin-top: 20px;
    font-family: "PT Sans", sans-serif;
}

.center h1 {
    font-size: 50px;
    text-transform: uppercase;

}

.center h1 span {
    color: var(--base);
}

.center p {
    margin-top: 5px;
    font-size: 18px;
    color: gray;
}


.back-to-top {
    position: sticky;
    top: 90%;
    left: 94%;
    height: 50px;
    width: 50px;
    background-color: var(--base);
    border-radius: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
}

/* first */
.about .first {
    margin-top: 30px;
    padding: 20px;
    border-bottom: 2px solid rgb(194, 182, 182);

}

.about .first .content {
    width: 48%;
    line-height: 30px;
    font-family: "PT Sans", sans-serif;
}

.about .first img {
    width: 500px;
    height: 400px;
    animation: bounce 5s infinite;
}

.about .first .content p b,
.about .first .content p i {
    font-size: 20px;
}

.about .first .content div .para {
    color: rgb(143, 140, 140);

}

/* second */
.about .second {
    font-family: "PT Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
 border-bottom: 2px solid rgb(194, 182, 182);
}

.about .second h1 {
    text-transform: uppercase;
}

.about .second .content {
    width: 49%;
    margin: 20px;
    color: rgb(147, 146, 146);
}
.about .second .content h1{
    font-size: 40px;
}
.about .second .content p{
    padding-top: 28px;
    font-size: 16px;
    line-height: 30px;
   
}

.about .second img {
    width: 450px;
    
    animation: bounce 5s infinite;
   

}
/* third */
.third{
    min-height:350px;
    padding: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "PT Sans", sans-serif;
}
#library{
    background: url("images/bg-image.jfif")center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.third h1{
    font-size: 50px;
    color: #050505;
    text-shadow: 2px 2px 0 #8b8b8b, 4px 4px 0 #b7b7b7, 3px 7px 5px rgba(255, 255, 255, 0.59);
}
.third p{
    padding: 2em;
    font-size: 20px;
    text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000, 3px 7px 5px rgba(0, 0, 0, 0.59); 
}
.third .flex{
    display: flex;
    justify-content: space-evenly;
    padding: 2em ;
    flex-wrap: wrap;
}
.third .flex .child{
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000, 3px 7px 5px rgba(0, 0, 0, 0.59);
}
.third .flex .child i{
    font-size: 50px;
}
/* about end */

/* gallery start  */
.gallery{
    min-height: 700px;
    width: 100%;
    font-family: "Poppins",sans-serif ;
}
.gallery h2{
    text-align: center;
    padding: 2em;
    font-size:40px;
    color: var(--base);
    text-transform: uppercase;

}
.gallery h2 i{
    color: #000000;
  
}
.gallery .imges{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
  
}
.gallery .imges img{
    width: 180px;
    height: 180px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    border: 10px solid black;
    transition: all 0.3s ease-in-out;
}

.gallery .imges img:hover{
    transform: scale(1.1);
    z-index: 1;
}

/* gallery end */




/* contact start */
.contact{
    min-height: 600px;
    width: 100%;
    background: linear-gradient(135deg, #2B2B2B 0%, #3A2F2A 50%, #4EC6B6 100%);
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    
}
.contact .form, .contact .contact-us{
   padding: 2em;
    min-height: 500px;
    width: 48%;
}
.contact .form{
    background-color: #000000;
    color: white;
    text-align: center;


}
.contact h2{
    text-align: center;
    
    font-weight: lighter;
    word-spacing: 3px;
}
.contact .form input, .contact .form textarea{
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(185, 176, 176);
    margin: 2em;
    width: 70%;
    color: white;
    font-size: 18px;
    
}
.contact .contact-us{
    background-color: white;
   
}

.contact .contact-us span {
  color: black;
  font-weight: bold;
}
.contact .contact-us p {
  font-size: small;
  color: rgb(135, 133, 133);
  padding: 1.6em;
  line-height: 18px;
}

.contact .contact-us .d {
  display: flex;
  align-items: center;
  gap: 2%;
}
.contact .contact-us .d p {
  font-size: smaller;
}
.contact .contact-us .d i {
  padding: 0 0.5em;
}
.contact .contact-us .d b {
  font-size: 1em;
}
/* contact end */
/* footer start */
.footer{
    background-color: black;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    padding: 2em;
}
.footer h3{
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
.footer .box a{
    display: block;
    padding: 1.4em 0;
    color: white;
    font-size: 18px;
    transition: all 2s ease-in-out;
  
}
.footer .box i{
    color: var(--base);
    font-size: 18px;
}
.footer .box a:hover i {
     /* transform: translateX(50px); */
     padding-right: 2em;
}
footer span{
    color: var(--base)
}
/* footer end */





@media(max-width:700px){
    .contact{
        padding: 0;
        
    }
    .contact .form .button{
        max-width: 150px;
    }
    .contact .form, .contact .contact-us{
        margin: 0;
    }
    .contact h2{
        word-spacing: normal;
    }
}


/* {} */